# Android
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/build/
android/app/build/

# Firebase
backend/node_modules/
backend/.firebase/
backend/firebase-debug.log
backend/firestore-debug.log
backend/ui-debug.log

# IDE
.idea/
*.iml

# OS
.DS_Store

# Logs
*.log
